@import "normalize.css";
:root {
  --fondo-claro: #838179;
  --fondo-oscuro: #272624;
  --color-primario-claro: #5483D0;
  --color-primario-oscuro: #385D9A;
  --color-secundario-claro: #F14E2D;
  --color-secundario-oscuro: #C13F24;
  --color-blanco: #fff;
  --color-negro: #000;
  --fuente-primaria: 'Raleway', sans-serif;
  --facebook: #3b5998;
  --twitter: #00acee;
  --youtube: #c4302b;
  --instagram: #ff0080;
  --z-index-search_btn: 2;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--fondo-oscuro);
  color: var(--color-blanco);
  font-family: var(--fuente-primaria);
  font-size: 100%;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.3125rem;
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
}

.container .header {
  grid-area: header;
}

.container .nav {
  grid-area: nav;
}

.container .main {
  grid-area: main;
}

.container .footer {
  grid-area: footer;
}

@media screen and (max-width:48rem) {
  body {
    font-size: 0.875rem;
  }
  .container {
    grid-template: 4fr/ 1fr;
    grid-template-areas: "header" "nav" "main" "footer";
  }
}