:root {
  --fondo-claro: #838179;
  --fondo-oscuro: #272624;
  --color-primario-claro: #5483D0;
  --color-primario-oscuro: #385D9A;
  --color-secundario-claro: #F62E1D;
  --color-secundario-oscuro: #C13F24;
  --color-blanco: #fff;
  --color-blanco--opaco: #E5E3E2;
  --color-negro: #000;
  --fuente-primaria: 'Raleway', sans-serif;
  --fuente-secundaria: 'Roboto', sans-serif;
}

.nav {
  /* max-height: 40px;
    min-height: 40px; */
  display: flex;
}

.nav__container {
  flex: 1 1 auto;
  background-color: var(--color-primario-oscuro);
  display: flex;
  border: solid 5px var(--color-secundario-claro);
}

.nav__list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav__item {}

.nav__link {
  color: var(--color-negro);
  font-weight: bold;
  text-decoration: none;
  padding: 15px 15px;
}

.nav__link:hover {
  color: var(--color-blanco);
  background-color: var(--fondo-oscuro);
}