.footer {
  /*SE ESTABLECE UNA ALTURA FIJA AL FOOTER*/
  height: 12.5rem;
  background: var(--fondo-claro);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.description {
  color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  /*SE PONE UN ANCHO MÁXIMO PARA EVITAR QUE SE JUNTE CON EL ELEMENTO DE LA DERECHA*/
  max-width: 50%;
  padding: 0.625rem;
  /*PARA EVITAR QUE EL TEXTO DE LA DESCRIPCIÓN SOBREPASE EL ALTO DEL FOOTER*/
  max-height: 100%;
}

.description__question {
  font: italic bold 20px Georgia, serif;
}

.description__answer {
  font: bold 1rem Arial, sans-serif;
  /*SE DA UNA ALTURA DE LÍNEA PARA SEPARAR LAS DOS LÍNEAS DEL PÁRRAFO*/
  line-height: 1.25rem;
  text-align: justify;
}

.social__footer {
  display: flex;
  flex-direction: column;
  /*AL CAMBIAR LA ORIENTACIÓN EN COLUMNA PARA CENTRARLO EN HORIZONTAL SE USURÁ EL JUSTIFY Y NO EL ALIGN*/
  justify-content: center;
  max-width: 25%;
  /* margin-right: 10px; */
}

.social__footer-subtitle {
  text-align: center;
  font: bold 1rem;
  color: var(--color-secundario-oscuro);
}

.logo-footer {
  align-self: center;
  margin: 0 0.3125rem;
}

@media screen and (max-width:48rem) {
  .footer {
    flex-direction: column;
    padding-bottom: 0.625rem;
    /*SE DA UNA ALTURA MÍNIMA PARA QUE OCUPE TODOS ELEMENTOS DEL FOOTER EN COLUMNA*/
    min-height: 25rem;
    /*SE CENTRA ALIGN-ITEMS EN LUGAR DEL JUSTIFY PORQUE SE CAMBIÓ LA DIRECCIÓN A COLUMNA*/
    align-items: center;
  }
  .description {
    /*PARA QUE DEJE UN ANCHO DE 5% EN LOS EXTREMOS DERECHO E IZQUIERDO*/
    max-width: 90%;
    margin: 0;
  }
  .description__question {
    text-align: center;
  }
  .social__footer {
    max-width: 100%;
    width: 100%;
    margin-bottom: 4.375rem;
  }
  .social__footer-subtitle {
    width: 100%;
  }
  .social__list {
    padding: 0;
    justify-content: space-evenly;
  }
  /* .social__item {
    margin: 0 10px 0;
  } */
  .logo-footer {
    /*SE ELIMINA EL MARGEN QUE SE DIÓ EN LA VISTA EN DESKTOP*/
    /* margin-right: 0;
    margin-bottom: 0.3125rem; */
    display: none;
  }
}