@import "../body.css";
.footer {
  min-height: 25vh;
}

.footer__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 0.0625rem solid var(--color-blanco);
}

.footer__descriptionContainer {
  color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  margin-bottom: 0.9375rem;
}

.footer__question {
  font: italic bold 150% Georgia, serif;
  margin-bottom: 0.625rem;
}

.footer__answer {
  font: bold 100% Arial, sans-serif;
}

.footer__socialContainer {
  margin: auto;
  border-left: 0.0625rem solid var(--color-secundario-claro);
  padding-left: 3.125rem;
}

.footer__social {
  color: var(--color-secundario-oscuro);
}

.footer__links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  border: 0.125rem solid var(--color-blanco);
  padding: 0.625rem;
}

.footer__items {
  line-height: 1.875rem;
  cursor: pointer;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #00acee;
}

.youtube {
  color: #c4302b
}

.instagram {
  color: #ff0080;
}

@media (max-width:48rem) {
  .footer__container {
    flex-direction: column;
    padding-top: 0.625rem;
  }
  .footer__question {
    text-align: center;
  }
  .footer__answer {
    font: bold 120% Arial, sans-serif;
    text-align: justify;
  }
  .footer__socialContainer {
    border-left: 0rem;
    margin-bottom: 0.9375rem;
    padding-left: 0;
  }
  .footer__social {
    font: bold 150% Arial, sans-serif;
  }
}