@import "nav.css";
.header {
  min-height: 6.25rem;
  padding-top: 0.875rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.logo {
  background-color: var(--color-primario-claro);
  color: var(--fondo-oscuro);
  border-radius: 0.625rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  padding: 0 0.3125rem;
}

.logo__text {
  font-weight: bold;
}

.logo__text--red {
  color: var(--color-secundario-oscuro);
  font-weight: bold;
}

.search {
  display: flex;
  width: 18.75rem;
}

.search__form {
  display: flex;
  flex: 1 1 auto;
}

.search__input {
  flex: 5 1 auto;
  padding: 0.4375rem 0.625rem;
  font-size: 0.875rem;
  border: none;
  border-top-left-radius: 0.8125em;
  border-bottom-left-radius: 0.8125em;
  color: var(--fondo-oscuro);
}

/*PARA LIMPIAR LOS INPUT DEL SIMBOLO CERRAR*/

.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search__button {
  flex: 1 1 auto;
  border: none;
  border-top-right-radius: 0.8125em;
  border-bottom-right-radius: 0.8125em;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--color-primario-claro);
  color: var(--fondo-oscuro);
}

@media (max-width:48rem) {
  .header__container {
    flex-direction: column;
    margin: auto;
    min-height: 6.25rem;
  }
  .logo {
    margin-top: 0.1875rem;
  }
  .search {
    margin-bottom: 0.5rem;
  }
}