@import "../body.css";
.header {
  min-height: 15%;
  min-width: 100%;
  padding-top: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: var(--color-primario-claro);
  color: var(--fondo-oscuro);
  border-radius: 0.625rem;
  max-height: 2.8125rem;
  min-height: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0 0.3125rem;
}

.logo__text {
  /* el valor vw hace referencia al portecentaje del viewport */
  font: bold 1.5rem var(--fuente-primaria);
}

.logo__text--red {
  color: var(--color-secundario-oscuro);
  font-weight: bold;
}

.icon-button {
  display: none;
}

.social {
  min-width: 8.75rem;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0.625rem;
}

.social__item {
  line-height: 1.875rem;
  cursor: pointer;
}

.facebook {
  color: var(--facebook);
}

.twitter {
  color: var(--twitter);
}

.youtube {
  color: var(--youtube);
}

.instagram {
  color: var(--instagram);
}

.search {
  display: flex;
  min-width: 15.625rem;
}

.search__form {
  display: flex;
}

.search__input {
  padding: 0.4375rem;
  font-size: 0.875rem;
  border: none;
  border-top-left-radius: 0.8125em;
  border-bottom-left-radius: 0.8125em;
  color: var(--fondo-oscuro);
  min-width: 15rem;
}

/*PARA LIMPIAR LOS INPUT DEL SIMBOLO CERRAR*/

.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*La propiedad outline permnite quitar los contornos por defecto del input*/

.search__input:focus {
  border: 0.125rem solid var(--color-secundario-claro);
  outline: none;
}

.search__button {
  border: none;
  border-top-right-radius: 0.8125em;
  border-bottom-right-radius: 0.8125em;
  cursor: pointer;
  background-color: var(--color-primario-claro);
  min-width: 2.5rem;
}

.search__icon {
  color: var(--color-blanco);
}

@media screen and (max-width:48rem) {
  .header {
    flex-direction: column;
  }
  .logo__text {
    font-size: 1.1rem;
  }
  .icon-button {
    position: absolute;
    display: block;
    /*align-self con la propiedad flex end para enviar el botón al final del viewport*/
    align-self: flex-end;
    margin-top: 0.625rem;
    background: none;
    border: none;
    cursor: pointer;
    /*prueba*/
    z-index: 2;
  }
  /*EL FORM DEL INPUT ESTÁRA OCULTO Y PARA VISUALIZARCE SE REALIZARÁ MEDIANTE UN CLICK EN EL ICONO*/
  .search-responsive {
    display: none;
  }
  .search {
    margin-top: 0.625rem;
    padding: 0.5rem;
    min-width: 40%;
  }
  .search__input {
    border-radius: 8125em;
    /*prueba*/
    z-index: 2;
  }
  /*El botón del input en modo desktop se oculta*/
  .search__button {
    display: none;
  }
  /*Las redes sociales también desaparecen*/
  .social {
    display: none;
  }
}