.header {
  min-height: 6.25rem;
  padding-top: 0.875rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
}

.logo {
  background-color: var(--color-primario-claro);
  color: var(--fondo-oscuro);
  border-radius: 0.625rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  padding: 0 0.3125rem;
  margin-left: 0.625rem;
}

.logo__text {
  /* el valor vw hace referencia al portecentaje del viewport */
  font: bold 2vw var(--fuente-primaria);
}

.logo__text--red {
  color: var(--color-secundario-oscuro);
  font-weight: bold;
}

.social__color {
  color: var(--color-blanco);
}

.search {
  display: flex;
  /* max-width: 300px; */
  padding-right: 0.625rem;
}

.search__form {
  display: flex;
}

.search__input {
  padding: 0.4375rem 0.625rem;
  font-size: 0.875rem;
  border: none;
  border-top-left-radius: 0.8125em;
  border-bottom-left-radius: 0.8125em;
  color: var(--fondo-oscuro);
}

/*PARA LIMPIAR LOS INPUT DEL SIMBOLO CERRAR*/

.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search__button {
  border: none;
  border-top-right-radius: 0.8125em;
  border-bottom-right-radius: 0.8125em;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--color-primario-claro);
  color: var(--fondo-oscuro);
}

@media screen and (max-width:50rem) {
  .header__container {
    flex-direction: column;
    margin: auto;
  }
  .logo {
    margin-top: 0.1875rem;
  }
  .search {
    margin-top: 0.625rem;
    padding: 0.5rem;
  }
  .social__icons {
    display: none;
  }
}