@import "../body.css";
@import "../fontawesome-free-5.15.3-web/css/all.css";
/* Para evitar el sticky footer */

/* .main {
  flex-grow: 1;
} */

.section {
  /*EN CASO SE AGREGÉ OTRA SECCIÓN ESTARÁN DISTANCIADO POR 10 PX DE MARGENES TANTO ARRIBA COMO ABAJO*/
  margin: 0.625rem 0;
}

.section__title {
  text-align: center;
  font-size: 2rem;
}

.comic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*LE DAMOS UNA ALTURA MÁXIMA AL CONTENEDOR DE LOS COMICS*/
  max-height: 59.375rem;
}

.comic__item {
  /*SE USA UN EL SHORTHAND DE BORDER PARA DARLE WIDTH, STYLE Y COLOR*/
  border: 0.25rem solid var(--color-secundario-oscuro);
  margin: 0.625rem;
  font-size: 1.5rem;
  width: 50%;
  /*CADA UNO DE LOS 2 COMICS OCUPARÁ TODO EL ALTO DEL CONTENEDOR PADRE COMIC*/
  max-height: 100%;
}

.comic__title {
  /*SE APLICA EL shorthand font-weigth, font-size y font-family*/
  font: bold 1.3rem Arial;
  text-align: center;
  background: var(--color-secundario-oscuro);
  padding: 0.9375rem 0;
  /* SE DA UN MARGÍN DE 5PX PARA OBTENER UN ESPACIO ENTRE LOS  h3 CON EL ESPACIO RESTANTE DEL CONTENEDOR COMIC*/
  margin: 0.3125rem;
  /*Se da una altura máxima para evitar saltos de línea con el texto del h3*/
  max-height: 3.125rem;
}

.comic__argument {
  padding: 0.625rem;
  /*SE QUITA LOS MARGENES PARA QUE EL PÁRRAFO OCUPE TODO EL ESPACIO SOBRANTE*/
  margin: 0;
  background-color: var(--color-blanco);
  color: var(--color-negro);
  text-align: justify;
  font: bold 1.2rem Arial;
  /*SE DA UNA ALTURA FIJA Y UNA ALTURA MÁXIMA PARA EVITAR QUE LA IMAGEN SE MUEVA */
  height: 6.25rem;
  /*Cuando se encoja la ventana, el contenedor del párrafo no aumente y cambie la posición o tomaño de la portada del comic*/
  max-height: 7.1875rem;
}

.comic__cover-container {
  /*EL CONTENEDOR DE LA PORTADA DEL COMIC TENDRÁ UNA ALTURA FIJA PARA QUE LA PORTADA OCUPE TODO EL ALTO DEL CONTENEDOR*/
  height: 34.375rem;
}

.comic__cover {
  /*lA ALTURA DE LA PORTADA DEL COMIC OCUPARÁ EL TOTAL DEL ALTO DE SU CONTENEDOR PADRE*/
  height: 100%;
  /* Se coloca la propiedad max-width para que la imagen no se pixelee al pasar el tamaño original */
  width: 100%;
  /*Para que la imagen ocupe todo su contenedor y no altere su resolución*/
  object-fit: cover;
  /*Se da una posición en su eje X y eje Y*/
  object-position: center top;
}

@media screen and (max-width:48rem) {
  .main {
    /*SE AUMENTA LA ALTURA ESTÁTICA DE LA GRILLA MAIN PARA QUE LAS PORTADAS OCUPEN TODO EL ALTO SIN SOBREPONERSE AL FOOTER*/
    height: 54.375rem;
  }
  /*DISMINUIR EL TAMAÑO DEL TÍTULO DE LA SECCIÓN*/
  .section__title {
    font-size: 1.25rem;
  }
  /*Los elementos del contenedor de la portada de los comics lo cambiamos en columna y lo colocamos al centro*/
  .comic {
    flex-direction: column;
    align-items: center;
    /*Se da una altura máxima de 700px*/
    max-height: 51.25rem;
  }
  .comic__item {
    /*SE DA 80% PARA QUE OCUPE MÁS ANCHO*/
    width: 80%;
    height: 25rem;
    /*SE ESTABLECE UNA ALTURA MÁXIMA DE 330px*/
    max-height: 26.25rem;
  }
  .comic__title {
    font-size: 1rem;
    /* height: 80px; */
    /*sE DA UN line-height para ajustar el texto del h3 que bajó al cambiar la altura*/
    line-height: 0.0625rem;
    color: black;
  }
  .comic__argument {
    /*SE ELIMINAN LOS PADDING DE LA VERSIÓN DESKTOP*/
    padding: 0;
    /*SE QUITA SU ALTURA*/
    height: 0;
    /*SE OCULTA EL ELEMENTO*/
    visibility: hidden;
  }
  .comic__cover-container {
    /*SE DA UNA ALTURA ESPECÍFICA AL CONTENEDOR DE LA PORTADA DEL COMIC*/
    height: 21.25rem;
    cursor: pointer;
  }
}